{% extends 'base.html' %}
{% block content %}
<a class="back-button" onclick="location.href='{% url 'inbox' %}'"></a><br>
<h1>Deleted Emails</h1><br><br>

<ul>
    {% for email in emails %}
        <li>
            {{ email.subject }} ({{ email.sender }} -> {{ email.receiver }})
            <br>
            {{ email.message|linebreaks }}
        </li>
    {% empty %}
        <li>No deleted emails found.</li>
    {% endfor %}
</ul><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<style>
h1 {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 30px;
  font-weight: 800;
  color: #337ab7;
}
p{
  font-size: 20px;
  margin-left: 40px;
} 

.back-button {
  position: fixed;
  top: 30px;
  left: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top:40px;
}

.back-button::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z' fill='%23000080'/%3E%3C/svg%3E");
  background-size: 24px 24px;
  background-position: center;
  background-repeat : no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 10px;
}

.back-button:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z' fill='%23ff4500'/%3E%3C/svg%3E");
}
</style>
{% endblock %}
